<div class="title__information--project">
  <h4>Thành viên của team</h4>
</div>
<div class="all__project">
  <div class="name__project">
    <div class="project">
      <span>Dự án 1</span>
    </div>
    <div class="member__working--project">
      <div class="member__working">
        <div class="name__member">
          <span>Thành viên 1</span>
        </div>
        <div class="status__member">
          <span>Có mặt</span>
        </div>
      </div>

    </div>
  </div>

  <div class="name__project">
    <div class="project">
      <span>Dự án 2</span>
    </div>
  </div>
  <div class="name__project">
    <div class="project">
      <span>Dự án 3</span>
    </div>
  </div>
  <div class="name__project">
    <div class="project">
      <span>Dự án 4</span>
    </div>
  </div>
  <div class="name__project">
    <div class="project">
      <span>Dự án 5</span>
    </div>
  </div>
</div>

