<div class="table__data--control">

  <div class="time__and__project" >
    <div class="project__options" >
      <select name="" id="" >
        <option value=""  *ngFor="let itemProject of projects">{{itemProject.nameProject}}</option>
      </select>
    </div>
    <div class="time__option">
      <select name="" id="">
        <option value="" *ngFor="let itemProject of projects">
        {{itemProject.dayStart}}
        </option>
      </select>
    </div>
  </div>

  <div class="total__money--project">
    <app-total />
  </div>
  <div class="member__project">
    <app-member />
  </div>
</div>
