.main__content--header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.content__list{
display: flex;
align-items: center;
}
.logo__fpoly {
  width: 80px;
}
.logo__fpoly > a > img{
    width: 100%;
    object-fit: cover;
}
.list__item{
  display: flex;
  align-items: center;
  gap: 10px;
}
.list__item > li > a {
  text-decoration: none;
  font-weight: bold;
}
.btn-groups{
  display: flex;
  align-items: center;
  gap: 5px;
}
.logoutUser{
   cursor: pointer;
  font-weight: bold;
}
.userLogin{
  display: flex;
   align-items: center;
   gap: 10px;
}
.roles__user{
   cursor: pointer;
  color: red;
  font-weight: bold;
   font-size: 1.3rem;
}
.fullname{
  font-weight: bold
}


