<div class="main__project--team">
  <h4>Project</h4>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Danh sách dự án</h2>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID Dự án</th>
            <th>Tên Dự án</th>
            <th>Ngày Bắt Đầu</th>
            <th>Kích Thước Nhóm</th>
            <th>Trạng thái dự án</th>
            <th>Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let projectsItem of projects">
            <td>{{projectsItem._id}}</td>
            <td>{{projectsItem.nameProject}}</td>
            <td>{{projectsItem.dayStart.split('T')[0] | date:'yyyy-MM-dd'}}</td>
            <td>{{projectsItem.sizeTeam}}</td>
            <td [ngClass]="{'text-success': projectsItem.statusProject, 'text-danger': !projectsItem.statusProject}">
              {{projectsItem.statusProject ? "Đang thực hiện" : "Tạm ngưng" }}
            </td>
            <td>
              <button type="button" class="btn btn-primary" style="margin-inline: 5px;" (click)="openModalForEdit(projectsItem)">
                Sửa
              </button>
              <button type="button" class="btn btn-danger" style="margin-inline: 5px;" (click)="deleteProject(projectsItem._id)">
                Xóa
              </button>
              <button type="button" class="btn btn-success" style="margin-inline: 5px;" (click)="confirmProject(projectsItem._id)">
                Xác Nhận
              </button>
              <button type="button" class="btn btn-warning" (click)="cancelProject(projectsItem._id)">
                Hủy Dự Án
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-success" (click)="showForm()">
        Thêm Dự án Mới
      </button>
    </div>
  </div>
</div>

<div *ngIf="showModal" class="modal__add--project">
  <div id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="projectModalLabel">{{ isEditing ? 'Sửa dự án' : 'Thêm dự án mới' }}</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="projectName">Tên Dự án</label>
              <input type="text" class="form-control" id="projectName" [(ngModel)]="projectName" name="projectName" />
            </div>
            <div class="form-group">
              <label for="startDate">Ngày Bắt Đầu</label>
              <input type="date" class="form-control" id="startDate" [(ngModel)]="startDate" name="startDate" />
            </div>
            <div class="form-group">
              <label for="teamSize">Kích Thước Nhóm</label>
              <input type="number" class="form-control" id="teamSize" [(ngModel)]="teamSize" name="teamSize" />
            </div>
            <div class="list__user--project">
              <div
                class="user"
                *ngFor="let user of list"
                [class.selected]="user.checked"
                (click)="toggleUserSelection(user)"
               >
                <li>{{ user.fullname }}</li>
                <input
                  type="checkbox"
                  class="options__user"
                  [checked]="user.checked"
                  (click)="toggleUserSelection(user); $event.stopPropagation();">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button style="margin-inline: 5px;" type="button" class="btn btn-secondary" data-dismiss="modal"
            (click)="closeModal()">Đóng</button>
          <button type="button" class="btn btn-primary" (click)="addProject()">{{ isEditing ? 'Cập nhật' : 'Lưu' }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
