<div class="title__information--project">
  <h4>THÀNH VIÊN CỦA NHÓM</h4>
</div>
<table style="width:100%; ">
  <tr>
      <th >Khu vực</th>
      <th >Số lượng nhân viên</th>
      <th >Nhân viên đang tạm nghỉ</th>
  </tr>
  <tr>
      <td style="font-weight: bold;">East</td>
      <td >20</td>
      <td >2</td>
  </tr>
  <tr>
      <td style="font-weight: bold;">West</td>
      <td>10</td>
      <td >1</td>
  </tr>
  <tr>
      <td style="font-weight: bold;">South</td>
      <td >5</td>
      <td >5</td>
  </tr>
</table>

